h1 {
    font-size: 30px;
    font-weight:500;
}
h2 {
    font-size: 26px;
    font-weight:100;
}
h3 {
    font-size: 36px;
    color: white;
    font-weight: 400;
    text-align: center;
}

body {
    font-family: Source Sans Pro,Helvetica,Arial,sans-serif
}

input {
    margin: 0 auto;
}

fieldset {
    margin: 0;
    border-width: 0;
}

input[type='file'] {
    color: transparent;
    width: 200px;
}
